.card-column {
  /* margin: 1rem auto; */
  border-radius: 6px;
  background-color: #ebecf0;
  padding: 1rem;
  width: 90%;
  max-width: 20rem;
  flex-shrink: 0;
  margin: 1rem;
}

.card-grey-background {
  background-color: #ebecf0;
}